// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// components

@import 'components/carousell';


// Fontawesome
// @import '~@fortawesome/fontawesome-free/scss/brands';
// @import '~@fortawesome/fontawesome-free/scss/regular';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';


// COMPONENTI SITO

// scrollbar

@import 'scroolbar';

.btn-neon{
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  text-shadow: var(--my-pink) 0px 0px 5px, var(--my-pink) 0px 0px 10px, var(--my-pink) 0px 0px 15px, var(--my-pink) 0px 0px 20px, var(--my-pink) 0px 0px 30px, var(--my-pink) 0px 0px 40px, var(--my-pink) 0px 0px 50px, var(--my-pink) 0px 0px 75px, 2px 2px 2px var(--my-pink);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 0px 20px 0px #C71C82;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 1rem;
  margin: .5rem 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-neon:hover{
    color: #ffffff;
    text-shadow: var(--my-pink) 0px 0px 5px, var(--my-pink) 0px 0px 10px, var(--my-pink) 0px 0px 15px, var(--my-pink) 0px 0px 10px, var(--my-pink) 0px 0px 10px, var(--my-pink) 0px 0px 10px, var(--my-pink) 0px 0px 10px, var(--my-pink) 0px 0px 15px, 2px 2px 2px var(--my-pink);
    background-color: var(--my-pink);
}



.no-growth{
    flex-grow: 0;
  
}

footer{
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 88%, rgba(199,28,130,1) 100%);
    height: 100vh;
}


.my-p{
    padding-bottom: 6rem;
}

li{
    list-style: none;
}

.my-text-color{
    color: var(--my-white);
    text-shadow: var(--my-black) 0px 0px 5px, var(--my-black) 0px 0px 10px, var(--my-white) 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.my-text-color2{
    color: var(--my-white);
}

.my-text-color-pink{
    color: var(--my-pink);
}

// <<<<<<< HEAD
// =======

.my-text-link{
    color: #ffffff;
}

:where(li) i:hover{
    transform: scale(2.5);
    color: #ffffff;
    transition: .5s;
}

.my-text-color-animated{
    color: #ffffff;
    text-shadow: #C71C82 0px 0px 5px, #C71C82 0px 0px 10px, #C71C82 0px 0px 15px, #C71C82 0px 0px 20px, #C71C82 0px 0px 30px, #C71C82 0px 0px 40px, #C71C82 0px 0px 50px, #C71C82 0px 0px 75px, 2px 2px 2px #C71C82;
    animation: my-text-color-animated 5s infinite;
}

@keyframes my-text-color-animated {
    0% {
        text-shadow: #C71C82 0px 0px 5px, #C71C82 0px 0px 10px, #C71C82 0px 0px 15px, #C71C82 0px 0px 20px, #C71C82 0px 0px 30px, #C71C82 0px 0px 40px, #C71C82 0px 0px 50px, #C71C82 0px 0px 75px, 2px 2px 2px #C71C82;
    }
    25% {
        text-shadow: #001aff 0px 0px 5px, #001aff 0px 0px 10px, #001aff 0px 0px 15px, #001aff 0px 0px 20px, #001aff 0px 0px 30px, #001aff 0px 0px 40px, #001aff 0px 0px 50px, #001aff 0px 0px 75px, 2px 2px 2px #001aff;
    }
    50% {
        text-shadow: #00fd15 0px 0px 5px, #00fd15 0px 0px 10px, #00fd15 0px 0px 15px, #00fd15 0px 0px 20px, #00fd15 0px 0px 30px, #00fd15 0px 0px 40px, #00fd15 0px 0px 50px, #00fd15 0px 0px 75px, 2px 2px 2px #00fd15;
    }
    75% {
        text-shadow: #fbff00 0px 0px 5px, #fbff00 0px 0px 10px, #fbff00 0px 0px 15px, #fbff00 0px 0px 20px, #fbff00 0px 0px 30px, #fbff00 0px 0px 40px, #fbff00 0px 0px 50px, #fbff00 0px 0px 75px, 2px 2px 2px #fbff00;
    }
    100% {
        text-shadow: #ff0000 0px 0px 5px, #ff0000 0px 0px 10px, #ff0000 0px 0px 15px, #ff0000 0px 0px 20px, #ff0000 0px 0px 30px, #ff0000 0px 0px 40px, #ff0000 0px 0px 50px, #ff0000 0px 0px 75px, 2px 2px 2px #ff0000;
    }
}

// >>>>>>> origin/Simone
// =======
// <<<<<<< HEAD
header{
    background-color: rgb(0, 0, 0);
}

.nav-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 10%);

}

.mtplus{
    padding-top: 5rem;
}

.container-bg{
    background-color: rgb(0, 0, 0);
}

.section-main{
    width: 80%;
}

.section-aside{
    top: 0;
    height: 100vh;
    width: 20%;
}

// animazione home

.up {
    height: 100px;
    margin-bottom: 7rem;
    animation: flicker 1.5s infinite alternate;
    transform: scale(1.2);
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(0, 255, 234),
        0 0 82px rgb(0, 255, 234),
        0 0 92px rgb(0, 255, 234),
        0 0 102px rgb(0, 255, 234),
        0 0 151px rgb(0, 255, 234);
}
.down{
    height: 100px;
    animation: down 6s ease-out 1;
    transform: rotate(-180deg) scale(1.2);
    margin-left: -1em;
    margin-top: -2.5em;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(0, 255, 234),
        0 0 82px rgb(0, 255, 234),
        0 0 92px rgb(0, 255, 234),
        0 0 102px rgb(0, 255, 234),
        0 0 151px rgb(0, 255, 234);

}
.byline span {
    animation: spin-letters 6s linear 1;
}
.byline {
    font-size: 1.5em;
    animation: move-byline 6s linear 1;
}

/* Keyframes */

  @keyframes down {
      0% {
          opacity: 1;
          transform: scale(2) translateY(0.5em) rotate(-180deg);
        }
        20% {
            opacity: 1;
        }
        90% {
            opacity: 1;
            transform: scale(1.2) rotate(-180deg);
        }
        100% {
            opacity: 1;
            transform: translateZ(-1000em) rotate(-180deg) scale(1.2);
        }
    }

    @keyframes spin-letters {
        0%, 10% {
            opacity: 0;
            transform: rotateY(90deg);
        }
        30% {
            opacity: 1;
        }
        70%, 86% {
            transform: rotateY(0);
            opacity: 1;
        }
        95%, 100% {
            opacity: 0;
        }
    }

    @keyframes move-byline {
        0% {
            transform: translateZ(5em);
        }
        100% {
            transform: translateZ(0);
        }
    }

    @keyframes flicker {

        0%, 18%, 22%, 25%, 53%, 57%, 100% {

            text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(0, 255, 234),
            0 0 80px rgb(0, 255, 234),
            0 0 90px rgb(0, 255, 234),
            0 0 100px rgb(0, 255, 234),
            0 0 150px rgb(0, 255, 234);
        }

        20%, 24%, 55% {
            text-shadow: none;
        }
      }

    .demo {
        perspective: 800px;
        transform-style: preserve3d;
    }

    /* Generale */


    .demo {
        height: 17em;
        left: 50%;
        position: absolute;
        top: 53%;
        transform: translate(-50%, -50%);
        width: 34em;
    }

    .byline span {
        display: inline-block;
    }

    img {
        width: 100%;
    }

    .star, .wars, .byline {
        position: absolute;
    }

    .up {
        top: -0.75em;
    }

    .down{
        bottom: -0.5em;
    }

    .byline {
        color: #fff;
        font-family: 'Ubuntu', sans-serif;;
        font-size: 2em;
        left: -2em;
        letter-spacing: 0.4em;
        right: -2em;
        text-align: center;
        text-transform: uppercase;
        top: 29%;
    }

    /*** Media queries  ***/

    @media only screen and (max-width: 600px) {
        .demo {
            font-size: 10px;
        }
    }

    @media only screen and (max-width: 480px) {
        .demo {
            font-size: 7px;
        }
    }

    .container-home{
        background-color: rgb(0, 0, 0);
        height: 100vh;
        h1{
            font-family: 'Quicksand', sans-serif;
            font-size: 2em;
            letter-spacing: 0.4em;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rgb(0, 255, 234),
            0 0 82px rgb(0, 255, 234),
            0 0 92px rgb(0, 255, 234),
            0 0 102px rgb(0, 255, 234),
            0 0 151px rgb(0, 255, 234);
        }

    }

    .delay-display{
        position: absolute;
        top: 45%;
        left: 42%;
        opacity: 0;
        animation-name: delay-display;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 6s;
    }

    @keyframes delay-display {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

// FINE INTRO


// index-guest
.container-index{
    max-width: 100%;
    height: 100%;
    background: rgb(25,142,195);
    background: linear-gradient(180deg, rgba(25,142,195,1) 0%, rgba(13,100,139,1) 48%, rgba(3,4,8,1) 100%);
}



.container-section:first-child{
    padding-top: 5rem;
    max-width: 100%;
    height: 100vh;
}

.container-buttons{
    position: absolute;
    bottom: 0%;
    left: 95%;
}

.container-section{
    position: relative;
    max-width: 100%;
    height: 100vh;
}

.center-section{
    position: absolute;
    top: 50%;
    left: 20%;
}

.center-section-how{
    position: absolute;
    top: 20%;
    left: 20%;
    .my-text-white{
        color: var(--my-white);
        text-shadow: var(--my-white) 0px 0px 5px, var(--my-white) 0px 0px 10px, var(--my-white) 0px 0px 15px, var(--my-white) 0px 0px 20px, var(--my-white) 0px 0px 30px, var(--my-white) 0px 0px 40px, var(--my-white) 0px 0px 50px, var(--my-white) 0px 0px 75px, 0px 0px 2px var(--my-white);
    }
    .my-p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;
        height: 35%;
        padding: .5rem;
        border: 1px solid var(--my-white);
        box-shadow: 0px 0px 8px var(--my-white);
    }
}

.my-card{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--my-white);
    margin: 2rem;
    padding: 2rem 1rem;
    .my-img{
        max-width: 165px;
        max-height: 165px;
    }
}
// section EVIDENCE

.container-section-start{
    position: relative;
    max-width: 100%;
    height: 100vh;
    background-image: url('../img/immagine.png');
    background-size: cover;
}
.container-section{

    .center-section-evidence{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
    }
    .my-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 8px var(--my-white);
        margin: 2rem;
    }
    .my-text-white{
        color: var(--my-white);
        text-shadow: var(--my-white) 0px 0px 5px, var(--my-white) 0px 0px 10px, var(--my-white) 0px 0px 15px, var(--my-white) 0px 0px 20px, var(--my-white) 0px 0px 30px, var(--my-white) 0px 0px 40px, var(--my-white) 0px 0px 50px, var(--my-white) 0px 0px 75px, 0px 0px 2px var(--my-white);
    }
    .section-carousel{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// section SAY HOME

.my-text-green{
    color: var(--my-white);
    text-shadow: var(--my-green) 0px 0px 5px, var(--my-green) 0px 0px 10px, var(--my-green) 0px 0px 15px, var(--my-green) 0px 0px 20px, var(--my-green) 0px 0px 30px, var(--my-green) 0px 0px 40px, var(--my-green) 0px 0px 50px, var(--my-green) 0px 0px 75px, 0px 0px 2px var(--my-green);
}

.center-section-say{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%);
}





.sign-in{
    max-width: 100%;
    background: var(--background-blue);
    input{
        border-radius: 40px;
        border-top-left-radius:40px !important;
        border-bottom-left-radius: 40px !important;
        background-color: var( --input-color);
    }
    button{
        width: 250px;
    }
    .register{
        max-width: 100%;
        height: 100vh;
        background: var(--background-blue);
    }
    .name-data{
        max-width: 100%;
        height: 100vh;
        background: var(--background-blue);
        .input-box{
            width:70%;

            my-input-group{
                width: 500px;
                background-color: #001aff;
            }
            span{
                font-size: 1rem;
                // width: 20%;
            }
        }
    }
    .login-data{
        max-width: 100%;
        height: 100vh;
        background: var(--background-blue);
    }
    .confirm-registration{
        max-width: 100%;
        height: 100vh;
        background: var(--background-blue);
    }
}

// SHOW
.my-container-show{
    padding-top: 5.5rem;
}



// *****DASHBOARD CHAT*****

.bg-dashboard{
    background-color: var(--background-blue);
    .my-card{
        align-items: flex-start;
        flex-direction: row;
        background-color: rgba($color: white, $alpha: .6);
        height: 85vh;
        max-width: 60%;
        justify-content: flex-start;
        overflow-y:hidden;
    }
}
@media only screen and (max-width: 1200px)  {
    .bg-dashboard{
        .my-card{

            overflow-y:scroll;
        }
    }
}
.message{
    background-color: var(--message-container-color);
    border-radius:10px;
    padding: .5em;
    margin: 1em 0;
    
}
.paginate{
    align-self: center;
    justify-self: flex-end;
}